* {
    background-color: #e7e7e7;
}

#header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 48px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.nav a:link {
    color: black;
    text-decoration: none;
}

.nav a:visited {
    color: black;
}

.nav a:hover {
    color: blue;
    font-weight: bolder;
}

.nav a:active {
    color: black;
}